/* General body styling */
body{
    margin: 0px;
    background-color: #FFCAB1;
    color: #484A47;
}

/* Header style text */
#header{
    background-color: #8FA998;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#headerTextBox{
    display:flex;
    justify-content: center;
    align-items: center;
}

.headerText{
    margin: 6px;
    font-size: 24px;
    font-weight: 700;
}

.selected{
    color: #DB5461;
}

/* About Me */
#aboutMeDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#aboutMeDiv img{
    width: 250px;
    height: 250px;
}

#aboutMeDiv h1{
    margin: 0px;
}

#aboutMeDiv p {
    margin: 5px 0px;
}

/* Skills */
#skillsHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

#skillsDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.individualSkill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individualSkill h2{
    margin: 5px;
}

.individualSkill p{
    margin: 5px;
}

.individualSkill img{
    width: 100px;
    height: 100px;
}

/* Projects */
#projectsDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.individualProject{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individualProject h2{
    margin: 5px;
}

.individualProject p{
    margin: 5px;
}
.individualProject img{
    width: 300px;
    height: 200px;
}

/* Footer */
#footer{
    background-color: #8FA998;
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer p {
    margin: 4px;
}

#footer h2 {
    margin: 4px;
}