
.navContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navContainer a{
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 16px;
    padding: 10px 20px;
    margin: 4px 2px;
    background-color: #373A36;
    text-decoration: none;
}