
.navContainer {
    background-color: rgb(31, 31, 31);
    width: 100%;
    display: flex;
    justify-content: center;
}

.navContainer a{
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    color: white;
}