.projectContainer {
    min-width: 300px;
    max-width: 600px;
    overflow: hidden;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
}

.projectContainer h1 {
    font-size: 18px;
    text-align: center;
    border-radius: 16px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #373A36;
}

.projectContainer p {
    min-width: 300px;
    text-align: center;
    border-radius: 16px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #373A36;
}


.projectImage {
    width: 100%;
    height: auto;
}